* {
  font-family: sans-serif;
}

.pages {
  display: flex;
  justify-content: space-around;
}

table {
  width: 100%;
}

th {
  padding: 1rem;
  background-color: dodgerblue;
  color: white;
}

td {
  padding: 0.5rem;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: lightgray;
}

.pages > * {
  text-decoration: none;
  margin: 1rem;
}

.selected {
  padding: 0.25rem;
  color: white;
  background-color: tomato;
  border: 5px tomato solid;
  border-radius: 20px;
}
